.wrapper {
  margin: 0 auto;
  padding:0 0 100px;
  max-width: 500px;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    margin-bottom: 15px;
  }
  input[type="checkbox"], input[type="radio"] {
    margin-right: 0.75rem;
  }
}
